.container {
  display: flex;
  align-items: center;
  height: 80vh;
}
.container img {
  width: 45%;
}

form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  gap: 10px;
  padding: 20px;
}

label {
  font-size: 24px;
  font-weight: 500;
  color: #37474f;
}

input {
  padding: 10px 20px;
}

input[type="submit"] {
  background-color: #ba68c8;
  border: none;
}
